@model Vidly.Models.VM.RandomMovieVM

@{
    ViewData["Title"] = "New Movie";
}

@* the commented method is another method with boolean value to show different titles in the beggining of page *@

@* @if (@Model.isNewMovie)
{
    <h1>New Movie</h1>
} else
{
    <h1>Edit Movie</h1>
} *@

<h1>@ViewBag.Message</h1>
<h1>@ViewBag.Messages</h1>
<div asp-validation-summary="All" class="text-danger" placeholder="Please fix the following Errors"></div>
<form asp-controller="Movies" asp-action="Save">
    <div class="form-group mb-3">
        <label asp-for="@Model.Movies.Name"></label>
        <input class="form-control" asp-for="@Model.Movies.Name" />
        <span asp-validation-for="@Model.Movies.Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Movies.MovieGenre">Genre</label>
        @Html.DropDownListFor(m => m.Movies.MovieGenre,
        new SelectList(Enum.GetValues(typeof(Movie.Genre))), "-- Select Genre --",
        new { @class = "form-control" })
        <span asp-validation-for="@Model.Movies.MovieGenre" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Movies.ReleaseDateTime">Release Date</label>
        <input class="form-control" asp-for="@Model.Movies.ReleaseDateTime" />
        <span asp-validation-for="@Model.Movies.ReleaseDateTime" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Movies.StockNumber ">Number in Stock</label>
        <input class="form-control" asp-for="@Model.Movies.StockNumber" />
        <span asp-validation-for="@Model.Movies.StockNumber" class="text-danger"></span>
    </div>
    <input  asp-for="@Model.Movies.Id" hidden />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

</form>

        @section Scripts {
            @{
        <partial name="_ValidationScriptsPartial" />
            }
        }