@model Movie
@{
    ViewData["Title"] = "Movie";
}

@{


    <h1>@Model.Name</h1>
    <p>Genre: @Model.MovieGenre</p>
    <p>Release Date: @Model.ReleaseDateTime</p>
    <p>Date Added: @Model.DateAdded</p>
    <p>Stock Number: @Model.StockNumber</p>
                                               
    
}
